/* variables */
:root {
	--alpha-color:#777acd;
	--beta-color:#7aa456;
	--gamma-color:#c65999;
	--delta-color:#c96d44;
}

/* document level */

html {
	width:40rem;
	background-color:#433;
	margin:0 auto;
	padding:0;
	line-height:1.5rem;
}

h1 {
	margin:0;
	font-weight:normal;
	padding:2rem 0 1rem 0;
	font-size:2.5rem;
	line-height:2.5rem;
	text-align:center;
	color:#f8f8f0;
	letter-spacing:0.2em;
}

nav {
	margin:0.5rem 0 0 0;
	padding:0;
	text-align:center;
	color:black;
}
nav a {
	background-color:gray;
	text-decoration:none;
	padding:0.1em 0.5em;
	margin:0 0.5em;
	color:white;
}
nav a.alpha {
	background-color:var(--alpha-color);
}
nav a.beta {
	background-color:var(--beta-color);
}
nav a.gamma {
	background-color:var(--gamma-color);
}
nav a.delta {
	background-color:var(--delta-color);
}

div#TEI {
	position:relative;
	background-color:#f8f8f0;
	padding:2rem;
	color:#003;
}

/* TEI block level */

tei-teiHeader {
	display:none;
}
tei-body {
	font-family:Georgia, serif;
}
tei-div tei-head {
	line-height:1.5rem;
	font-size:1.2rem;
	font-family:Georgia, serif;
	color:#c33;
	display:block;
}
tei-p {
	line-height:1.3rem;
	font-family:inherit;
}
tei-p[sameAs]::before {
	content:'[→ §'attr(n)']';
}
tei-p[corresp] {
	color:#3333cc;
}
tei-p[source]::before {
	position:absolute;
	padding-left:0.2em;
	padding-right:0.2em;
	color:white;
	left:40em;
}
tei-p[source='#alpha']::before {
	content:'α';
	background-color:var(--alpha-color);
}
tei-p[source='#beta']::before {
	content:'β';
	background-color:var(--beta-color);
}
tei-p[source='#gamma']::before {
	content:'γ';
	background-color:var(--gamma-color);
}
tei-p[source='#delta']::before {
	content:'δ';
	background-color:var(--delta-color);
}

/* inline level */
tei-pb::before {
	content:'['attr(n)']';
	color:gray;
}
tei-p > tei-pb::before {
}
tei-div > tei-pb::before {
	padding-right:0.5em;
	line-height:1.3em;
	float:left;
}
tei-num {
	position:absolute;
	right:40.5em;
	color:silver;
}
tei-note {
	font-style:italic;
}

/* inline + hover */

tei-choice {
}
tei-corr {
	text-decoration:underline;
	text-decoration-style:dotted;
}
tei-corr::after {
	position:absolute;
	left:40rem;
	width:0.5rem;
	content:' ';
	background-color:#777;
}
tei-corr:hover::after {
	background-color:#999;
}
tei-orig {
	display:none;
	position:absolute;
	text-align:left;
	font-size:1rem;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	color:#fff;
	width:10rem;
	left:41rem;
	line-height:1.5rem;
	margin-top:-1.5rem;
}
tei-corr:hover ~ tei-orig {
	display:block;
}
tei-choice:hover ~ tei-orig {
	display:block;
}
tei-corr:hover ~ tei-corr::after {
	content:' 'attr(wit);
	font-style:italic;
}
