/* variables */
:root {
	--alpha-color:#777acd;
	--beta-color:#7aa456;
	--gamma-color:#c65999;
	--delta-color:#c96d44;
}

/* document level */

html {
	width:40rem;
	background-color:#433;
	margin:0 auto;
	padding:0;
	line-height:1.5rem;
}

h1 {
	margin:0;
	font-weight:normal;
	padding:2rem 0 1rem 0;
	font-size:2.5rem;
	line-height:2.5rem;
	text-align:center;
	color:#f8f8f0;
	letter-spacing:0.2em;
}

nav {
	margin:0.5rem 0 0 0;
	padding:0;
	text-align:center;
	color:black;
}
nav a {
	background-color:gray;
	text-decoration:none;
	padding:0.1rem 0.5rem;
	margin:0 0.2rem;
	color:white;
}
.alpha {
	background-color:var(--alpha-color);
}
.beta {
	background-color:var(--beta-color);
}
.gamma {
	background-color:var(--gamma-color);
}
.delta {
	background-color:var(--delta-color);
}

div#TEI {
	position:relative;
	background-color:#f8f8f0;
	padding:2rem;
	color:#003;
}

/* TEI block level */

tei-teiHeader {
	display:none;
}
tei-back {
	display:none;
}
tei-body {
    display:block;
	font-family:Georgia, serif;
	padding:0;
}
tei-div {
    display:block;
}
tei-div#intro {
    font-style:italic;
}
tei-div#intro + tei-div {
    padding-top:2rem;
    margin-top:1rem;
    border-top:0.1rem solid gray;
}
tei-div tei-head {
	line-height:1.5rem;
	font-size:1.2rem;
	font-family:Georgia, serif;
	color:var(--delta-color);
	display:block;
	text-align:center;
	padding:1rem 0 0.5rem 0;
}
tei-p {
	line-height:1.3rem;
	font-family:inherit;
	padding:0 0 1rem 0;
	margin:0;
	counter-reset:segment;
}
tei-p[sameAs]::before {
	content:'[→ §'attr(n)']';
}
tei-p[ana='#moved'] tei-num {
	color:var(--alpha-color);
}
tei-p[source]::before,
tei-head[source]::before
{
	position:absolute;
	padding-left:0.2rem;
	padding-right:0.2rem;
	color:white;
	left:40rem;
	font-size:1rem;
}
tei-p[source='#alpha']::before {
	content:'α';
	background-color:var(--alpha-color);
}
tei-p[source='#beta']::before {
	content:'β';
	background-color:var(--beta-color);
}
tei-p[source='#gamma']::before {
	content:'γ';
	background-color:var(--gamma-color);
}
tei-p[source='#delta']::before,
tei-head[source='#delta']::before {
	content:'δ';
	background-color:var(--delta-color);
}
tei-num {
	position:absolute;
	right:40.5em;
	color:silver;
}
tei-seg {
	counter-increment:segment;
}
tei-seg:not(:first-of-type)::before {
	color:gray;
	vertical-align:super;
	font-size:0.7rem;
	line-height:0.7rem;
	content:counter(segment);
	padding-right:0.2rem;
}
tei-figure {
    display:block;
    margin:0.5rem 0;
}
tei-figure tei-desc {
    display:inline-block;
    padding:0.25rem 0.5rem;
    border:0.1rem solid gray;
}

/* inline level */
tei-pb {
	display:none;
}
tei-pb:not(:has(+ tei-pb)) {
	display:inline;
}
tei-pb::before {
	content:'['attr(n)']';
	color:gray;
	font-size:0.8rem;
	line-height:1rem;
}
tei-p tei-pb::before {
	vertical-align:text-top;
}
tei-div > tei-pb::before {
	padding:0.1rem 0.5rem 0 0;
	float:left;
}

tei-persName[ref='#alpha'] {
	color:var(--alpha-color);
}
tei-persName[ref='#beta'] {
	color:var(--beta-color);
}
tei-persName[ref='#gamma'] {
	color:var(--gamma-color);
}
tei-persName[ref='#delta'] {
	color:var(--delta-color);
}


tei-note {
	font-style:italic;
}

/* inline + hover */

tei-choice {
}
tei-corr {
	text-decoration:underline;
	text-decoration-style:dotted;
}
tei-corr::after {
	position:absolute;
	left:40rem;
	width:0.5rem;
	content:' ';
	background-color:#777;
}
tei-corr:hover::after {
	background-color:#999;
}
tei-orig {
	display:none;
	position:absolute;
	text-align:left;
	font-size:1rem;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	color:#fff;
	width:10rem;
	left:41rem;
	line-height:1.5rem;
	margin-top:-1.5rem;
}
tei-corr:hover ~ tei-orig {
	display:block;
}
tei-choice:hover ~ tei-orig {
	display:block;
}
tei-corr:hover ~ tei-corr::after {
	content:' 'attr(wit);
	font-style:italic;
}

/* overview */

tei-div[rend~='column-header'] {
    font-style:italic;
}
tei-div[rend~='columns'] {
    display:grid;
    grid-template-columns: 45% 45%;
    column-gap:10%;
}
tei-div[rend='columns'] tei-head {
    grid-column: 1 / span 2;
}
tei-div[rend='columns'] tei-head[source='#delta']::before {
	display:none;
}
tei-div[rend='columns'] tei-p {
    text-align:left;
}
tei-div[rend='columns'] tei-num {
	position:relative;
	right:unset;
	color:white;
	display:inline-block;
	text-align:center;
	width:2rem;
	margin:0.1rem 0;
}
tei-div[rend='columns'] tei-num[source='#alpha'] {
	background-color:var(--alpha-color);
}
tei-div[rend='columns'] tei-num[source='#beta'] {
	background-color:var(--beta-color);
}
tei-div[rend='columns'] tei-num[source='#gamma'] {
	background-color:var(--gamma-color);
}
tei-div[rend='columns'] tei-num[source='#delta'] {
	background-color:var(--delta-color);
}
tei-ref, tei-ref a {
    text-decoration:none;
    color:inherit;
}

.overview tei-seg,
.overview tei-num,
.overview tei-pb,
.overview tei-note,
.overview tei-l
{
	display:none;
}
.overview tei-p {
	display:inline;
}
.overview tei-p[source]::before {
	position:initial;
}
.overview tei-head {
	font-size:1rem;
	color:inherit;
}
