/* variables */
:root {
	--alpha-color:#777acd;
	--beta-color:#7aa456;
	--gamma-color:#c65999;
	--delta-color:#c96d44;
}

/* document level */

html {
	width:80rem;
	background-color:#433;
	margin:0 auto;
	padding:0;
	line-height:1.5rem;
}

h1 {
	margin:0;
	font-weight:normal;
	padding:2rem 0 1rem 0;
	font-size:2.5rem;
	line-height:2.5rem;
	text-align:center;
	color:#f8f8f0;
	letter-spacing:0.2em;
}

nav {
	margin:0.5rem 0 0 0;
	padding:0;
	text-align:center;
	color:black;
}
nav a {
	background-color:gray;
	text-decoration:none;
	padding:0.1rem 0.5rem;
	margin:0 0.2rem;
	color:white;
}
nav a.alpha {
	background-color:var(--alpha-color);
}
nav a.beta {
	background-color:var(--beta-color);
}
nav a.gamma {
	background-color:var(--gamma-color);
}
nav a.delta {
	background-color:var(--delta-color);
}

div#TEI {
	position:relative;
	background-color:#f8f8f0;
	padding:2rem;
	color:#003;
}

/* TEI block level */

tei-teiHeader {
	display:none;
}
tei-back {
	font-family:Georgia, serif;
	padding:0;
}
tei-body {
	font-family:Georgia, serif;
	padding:0;
}
tei-div tei-head {
	line-height:1.5rem;
	font-size:1.2rem;
	font-family:Georgia, serif;
	color:#c33;
	display:block;
	padding:1rem 0 0.5rem 0;
}
tei-p {
	line-height:1.3rem;
	font-family:inherit;
	padding:0 0 1rem 1.5rem;
	margin:0;
	counter-reset:segment;
	width:40rem;
}
tei-p[source]::before {
	position:absolute;
	padding-left:0.2em;
	padding-right:0.2em;
	color:white;
	left:0em;
}
tei-p[source='#alpha']::before {
	content:'α';
	background-color:var(--alpha-color);
}
tei-p[source='#beta']::before {
	content:'β';
	background-color:var(--beta-color);
}
tei-p[source='#gamma']::before {
	content:'γ';
	background-color:var(--gamma-color);
}
tei-p[source='#delta']::before {
	content:'δ';
	background-color:var(--delta-color);
}
tei-num {
	position:absolute;
	left:1.5em;
	color:silver;
}
tei-seg {
	counter-increment:segment;
}
tei-seg:not(:first-of-type)::before {
	color:gray;
	vertical-align:super;
	font-size:0.7rem;
	line-height:0.7rem;
	content:counter(segment);
	padding-right:0.2rem;
}

/* inline level */
tei-pb {
	display:none;
}
tei-pb:not(:has(+ tei-pb)) {
	display:inline;
}
tei-pb::before {
	content:'['attr(n)']';
	color:gray;
	font-size:0.8rem;
	line-height:1rem;
}
tei-p tei-pb::before {
	vertical-align:text-top;
}
tei-div > tei-pb::before {
	padding:0.1rem 0.5rem 0 0;
	float:left;
}

tei-note {
	font-style:italic;
}

/* apparatus */

tei-app tei-lem {
	text-decoration:underline;
	text-decoration-style:dotted;
}
tei-app tei-lem::after {
	position:absolute;
	left:45rem;
	content:']';
}
tei-app tei-rdg {
	/*display:none;*/
	display:block;
	position:absolute;
	text-align:left;
	font-size:1rem;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	width:30rem;
	left:45.5rem;
	line-height:1.5rem;
	margin-top:-1.5rem;
}
tei-app tei-rdg:before {
    content:attr(wit)' ';
    font-weight:bold;
}
tei-app tei-lem:hover ~ tei-rdg {
	display:block;
}
tei-app:hover ~ tei-rdg {
	display:block;
}
tei-app tei-lem:hover ~ tei-lem::after {
	content:' 'attr(wit);
	font-style:italic;
}
tei-app tei-add:after {
    content:' added 'attr(place);
    font-style:italic;
}

/* glosses */

tei-seg[type='glossed'] {
	text-decoration:underline;
	text-decoration-style:dotted;
}
tei-seg[type='glossed'] tei-add[type='gloss'] {
	display:block;
	position:absolute;
	text-align:left;
	font-size:1rem;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	width:30rem;
	left:45.5rem;
	line-height:1.5rem;
	margin-top:-1.5rem;
}

/* translation */

tei-div[type='parallel'] {
    display:grid;
    grid-template-columns: 40rem 30rem;
    column-gap:2rem;
    align-items:start;
}

tei-div[type='parallel'] > tei-p {
    display:block;
    margin:0;
}

tei-div[type='parallel'] > tei-p[corresp] {
    display:block;
    font-size:0.8rem;
    line-height:1rem;
    width:100%;
}
