/* variables */
:root {
	--highlight-color:#c03030;
	--neutral-color:#606060;
}

/* document level */

html {
	width:80rem;
	background-color:#433;
	margin:0 auto;
	padding:0;
	line-height:1.5rem;
}

h1 {
	margin:0;
	font-weight:normal;
	padding:2rem 0 1rem 0;
	font-size:2.5rem;
	line-height:2.5rem;
	text-align:center;
	color:#f8f8f0;
}

nav {
	margin:0.5rem 0 0 0;
	padding:0;
	text-align:center;
	color:black;
}
nav a {
	background-color:gray;
	text-decoration:none;
	padding:0.1rem 0.5rem;
	margin:0 0.2rem;
	color:white;
}

div#TEI {
	position:relative;
	background-color:#f8f8f0;
	padding:2rem;
	color:#003;
}

/* TEI block level */

tei-teiHeader,tei-standOff {
	display:none;
}
tei-back {
	font-family:Georgia, serif;
	padding:0;
}
tei-body {
	font-family:Georgia, serif;
	padding:0;
}
tei-div tei-head {
	line-height:1.5rem;
	font-size:1.2rem;
	font-family:Georgia, serif;
	color:var(--highlight-color);
	display:block;
	padding:1rem 0 0.5rem 0;
}
tei-p {
	line-height:1.3rem;
	font-family:inherit;
	padding:0 0 1rem 1.5rem;
	margin:0;
	counter-reset:segment;
	width:40rem;
}
tei-p[source]::before {
	position:absolute;
	padding-left:0.2em;
	padding-right:0.2em;
	color:white;
	left:0em;
}
tei-num {
	position:absolute;
	left:1.5em;
	color:silver;
}
tei-seg[n]:not(:first-of-type)::before,
tei-seg[type='parallel'] tei-seg:not([n='1'])::before {
	color:gray;
	vertical-align:super;
	font-size:0.7rem;
	line-height:0.7rem;
	content:attr(n);
	padding-right:0.2rem;
}
tei-p[corresp] tei-seg:not(:first-of-type)::before {
    content:'';
}

tei-figure {
    display:block;
    margin:0.5rem 0;
}
tei-figure tei-desc {
    display:inline-block;
    padding:0.25rem 0.5rem;
    border:0.1rem solid gray;
}

/* inline level */
tei-pb {
	display:none;
}
tei-pb:not(:has(+ tei-pb)) {
	display:inline;
}
tei-pb::before {
	content:'['attr(n)']';
	color:gray;
	font-size:0.8rem;
	line-height:1rem;
}
tei-p tei-pb::before {
	vertical-align:text-top;
}
tei-div > tei-pb::before {
	padding:0.1rem 0.5rem 0 0;
	float:left;
}
tei-note {
	font-style:italic;
}

/* apparatus */

tei-app tei-lem,
tei-choice tei-corr {
	text-decoration:underline;
	text-decoration-style:dotted;
}
tei-app tei-rdg:before,
tei-app tei-note:before,
tei-figure tei-note:before {
	content:'] ';
	font-style:normal;
}
tei-choice tei-sic:before {
    content:'] read ';
    font-style:normal;
}
tei-app tei-rdg,
tei-app tei-note,
tei-choice tei-sic,
tei-figure tei-note {
    float:left;
	display:block;
	position:absolute;
	left:45.5rem;
	font-weight:normal;
	font-variant:normal;
	text-align:left;
	width:30rem;
	font-size:0.9rem;
	line-height:1.0rem;
	margin-top:-1.2rem;
}
tei-app tei-add:after {
    content:' added 'attr(place);
    font-style:italic;
}
tei-app:hover,
tei-choice:hover,
tei-figure:hover tei-note
tei-seg[type=gloss]:hover {
	color:var(--highlight-color);
}
tei-app[rend="shift-1"] tei-rdg,
tei-app[rend="shift-1"] tei-note {
    left:60rem;
}

/* graphics */

tei-graphic {
    display:inline-block;
    border:1px solid transparent;
}
tei-graphic[rend='shift-3'] {
    position:relative;
    top:-15rem;
}
tei-graphic[rend='shift-2'] {
    position:relative;
    top:-10rem;
}
tei-graphic[rend='shift-1'] {
    position:relative;
    top:-5rem;
}
tei-graphic[rend='shift-0'] {
    position:relative;
    top:0rem;
}

/* glosses */

tei-seg[type=gloss] tei-add[type='gloss'] {
	display:block;
	position:absolute;
	text-align:left;
	width:30rem;
	left:45.5rem;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	font-size:0.9rem;
	line-height:1.0rem;
	margin-top:-1.2rem;
}
tei-seg[type=gloss] tei-anchor::before {
    content:'✻';
}
tei-seg[type=gloss] tei-add[type='gloss'][place]::before {
    content:attr(place)' ';
    font-style:italic;
}
tei-seg[type=gloss]:hover {
    color:var(--highlight-color);
}
tei-seg[type=gloss]:hover tei-graphic {
    border:1px solid var(--highlight-color);
}

/* sources */

tei-seg[ana=hasNoSource] {
	color:#666;
}
tei-seg[type=line] {
    display:block;
}

/* synopsis and floating parallel display */

tei-lb[source]::after {
    display:inline-block;
	font-weight:bold;
	content:attr(source);
}
tei-lb[source]::before {
	content:'\a';
    white-space:pre;
}

tei-seg[type='parallel'] tei-seg[xml\:id] + tei-seg[corresp] {
    visibility:hidden;
}
tei-seg[type='parallel'] tei-seg[xml\:id]:hover + tei-seg[corresp] {
    visibility:visible;
}
tei-seg[type='parallel'] tei-seg[xml\:id]:hover {
    color:var(--highlight-color);
}
tei-seg[type='parallel'] {
    display:inline-block;
    position:relative;
}

tei-seg[type='parallel'] > tei-seg {
    display:inline;
    float:left;
    width:40rem;
}

tei-seg[type='parallel'] > tei-seg[corresp] {
    display:inline;
    left:42rem;
    position:absolute;
    font-size:0.8rem;
    line-height:1rem;
    width:30rem;
    text-indent:-1.5rem;
    margin-left:1rem;
    margin-top:-1.2rem;
}

/* translation and parallel grid display */

tei-div[type='parallel'] {
    display:grid;
    grid-template-columns: 40rem 30rem;
    column-gap:2rem;
    align-items:start;
}

tei-div[type='parallel'] > tei-p {
    display:block;
    margin:0;
    grid-column: 1;
}

tei-div[type='parallel'] > tei-p[corresp] {
    display:block;
    font-size:0.8rem;
    line-height:1rem;
    width:100%;
    grid-column: 2;
}
